*{
    font-family: "Manrope", sans-serif;
}
.text-linear{
    background: linear-gradient(90deg, #4F39F6 0%, #9514FA 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.bg-linear{
    background: linear-gradient(90deg, #4F39F6 0%, #9514FA 100%);
}
